@charset "utf-8";
/*\u201404240061\u0075\u0074\u0068\u003a\u0045\u0072\u0069\u0063\u005f\u0077\u0075\u003b\u0020\u0065\u006d\u0061\u0069\u006c\u003a\u0077\u006b\u0066\u0033\u0039\u0039\u0038\u0038\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d\u003b*/

* {
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	/*height:100%;*/
	min-height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin:0;
	padding:0;
	width: 100%;
	/*height:100%;*/
	min-height: 100%;
	font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
	font-size: 14px;
	position: relative;
	word-break:break-all;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*[data-widget*="menu"] a{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td, caption {
	vertical-align: middle;
}

textarea {
	resize: none;
}

input, button, select, textarea {
	outline: none;
	border-radius: 0;
	font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

ul,ol,li {
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

*[data-widget^="widget_"]{
	display: none;
}
*[data-widget^="widget_"].on{
	display: block;
}
*[data-widget^="widget_"] *{
	padding:0;
	margin:0;
	word-break:break-all;
	word-wrap:break-word;
}
*[data-widget^="widget_"] .widget_mask{
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	display: none;
}
*[data-widget^="widget_"]:last-of-type .widget_mask{
	display: block;
}

*[data-widget^="widget_"] .widget_wrap{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 260px;
	min-height: 90px;
	margin:-100px -130px;
	background: rgba(255,255,255,0.98);
	overflow: hidden;
	border-radius: 8px;
}
.tips{position: fixed;left: 50%; top: 40%;	width: 260px;margin:-100px -130px;overflow: hidden; text-align:center;}

*[data-widget^="widget_"] .widget_footer ul{
	text-align: center;
	border-top:1px solid #7f8c8d;
	border-width: 1px 0 0 0;
	-webkit-border-image: url(../imgs/border.png) 2 stretch;
	display: table;
	width:100%;
	height: 45px;
}
*[data-widget^="widget_"] .widget_footer ul li{
	display: table-cell;
	border-top: 1px solid #7f8c8d;
	border-width: 0 1px 0 0;
	-webkit-border-image: url(../imgs/border.png) 2 stretch;
	width: 50%;
}
*[data-widget^="widget_"] .widget_footer ul li:last-of-type{
	border:0;
}
*[data-widget^="widget_"] .widget_footer ul li button, *[data-widget^="widget_"] .widget_footer ul li .button{
	-webkit-appearance: none;
	display: inline-block;
	padding: 0 10px;
	height: 45px;
	line-height: 45px;
	border-radius: 3px;
	/*max-width: 85px;*/
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 0;
	background: none;
	color: #00aeef;
	font-size: 15px;
	min-width: 100px;
	background:none;
	width: 100%;
}

*[data-widget^="widget_"] .widget_footer ul li:first-of-type button, *[data-widget^="widget_"] .widget_footer ul li:first-of-type .button{
	color: #8a8a8a;
}

*[data-widget="widget_alert"] .widget_footer ul li:first-of-type button{
	color: #00aeef;
}

*[data-widget^="widget_"].on{
	display: block;
}
/****/
*[data-widget="widget_alert"] .widget_body, *[data-widget="widget_confirm"] .widget_body, *[data-widget="widget_tip"] .widget_body,.limit_buy_dialog .widget_body {
	padding:30px 10px;
	font-size:15px;
	text-align:center;
	color:#303030;
}

/****/



/****/
*[data-widget^="widget_loading"] .widget_wrap{
	border:0;
	background:none;
	height:100px;
}
*[data-widget^="widget_loading"] .widget_wrap >div{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 5px;
	background: red;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	background: rgba(0,0,0,0.0);
}

*[data-widget^="widget_loading"] .widget_wrap >div>span,.loadings span{
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -12px;
	z-index: 10;
	width: 24px;
	height: 24px;
	border: 2px solid #237FE5;
	border-radius: 24px;
	-webkit-animation: widget_gif 1s infinite linear;
	clip: rect(0 auto 12px 0);
}
@-webkit-keyframes widget_gif{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}
/**************************common class********************************/
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box; margin:0; padding:0;text-decoration: none;	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	-webkit-tap-highlight-color: transparent;}
.container{max-width:640px;margin:auto;min-height:100%;	position:relative;	display:block;	background-size:100% 100%;	-webkit-box-sizing: border-box; min-width:320px;}
.btn{ display:block; height:30px; line-height:30px; width:65px; border-radius:5px; color:#fff; text-align:center; font-size:14px; border:none; -webkit-appearance:none;}
.btn{
	-webkit-tap-highlight-color: rgba(0,0,0,0.35);
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.btn.fl{  margin:7px 0px 0 12px ;}
.btn.fr{ margin:7px 12px 0 0 ;}
.btn.red{background:#ff5366;}
.btn.black{background:#3e3e3e;}
.btn.green{background:#06bf04;}
.btn.orange{background:#ff8b2c;}
.btn.white{background:transparent;border: 1px solid #ff5366;color: #ff5366;}
.btn.red_new{border: 1px solid #f32f45;color: #f32f45;}
.btn.black_new{border: 1px solid #3e3e3e;color: #3e3e3e;}
.btn.green_new{border: 1px solid #06bf04;color: #06bf04;}
.btn.orange_new{border: 1px solid #ff8b2c;color: #ff8b2c;}

.border_b{	border: 1px solid #ebebeb;	border-width:  0 0 1px 0;-webkit-border-image: url(../imgs/border.png) 2 stretch;}
.border_t{	border: 1px solid #ebebeb;	border-width: 1px 0 0 0;-webkit-border-image: url(../imgs/border.png) 2 stretch;}
.border_tb{	border: 1px solid #ebebeb;	border-width: 1px 0 1px 0;-webkit-border-image: url(../imgs/border.png) 2 stretch;}
.border_goods{border: 1px solid #ebebeb;border-width: 1px 0 1px 0;-webkit-border-image: url(../imgs/goods_border.png) 2 stretch;}

.fl {
	float: left;
}
.fr {
	float: right;
}
.ofh {
	overflow: hidden;
}
.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}
.vertical_top {
	vertical-align: top;
}
.vertical_middle {
	vertical-align: middle;
}
.vertical_bottom {
	vertical-align: bottom;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.hidden {
	display: none;
}
.hidden.on {
	display: block;
}
.vhidden {
	visibility: hidden;
}
.vhidden.on {
	visibility: visible;
}
/*.empty:empty {
	display: none;
}*/
.block {
	display: block;
}
.inlineBlock {
	display: inline-block;
}
.ml_10 {
	margin-left: 10px;
}
.mr_10 {
	margin-right: 10px;
}
.mt_10 {
	margin-top: 10px;
}
.mb_10 {
	margin-bottom: 10px;
}
.m_10 {
	margin: 10px;
}
.m_auto {
	margin: auto;
}
.ml_5 {
	margin-left: 5px;
}
.mr_5 {
	margin-right: 5px;
}
.mt_5 {
	margin-top: 5px;
}
.mb_5 {
	margin-bottom: 5px;
}
.m_5 {
	margin: 5px;
}
.m_auto {
	margin: auto;
}
.pl_10 {
	padding-left: 10px;
}
.pr_10 {
	padding-right: 10px;
}
.pt_10 {
	padding-top: 10px;
}
.pb_10 {
	padding-bottom: 10px;
}
.p_10 {
	padding: 10px;
}
.pl_5 {
	padding-left: 5px;
}
.pr_5 {
	padding-right: 5px;
}
.pt_5 {
	padding-top: 5px;
}
.pb_5 {
	padding-bottom: 5px;
}
.p_5 {
	padding: 5px;
}

.box {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.box > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
.tbox {
	width: 100%;
	height: 100%;
}
.tbox > * {
	height: 100%;
	display: table-cell;
	vertical-align: top;
}
.tbox > *:last-child {
	width: 100%;
}

.box_swipe{
	overflow:hidden;
	position:relative;
}
.box_swipe img{max-width: 320px;}

.box_swipe>ol{
	height:20px;
	position: relative;
	z-index:10;
	margin-top:-25px;
	text-align:right;
	padding-right:20px;
	background-color:rgba(0,0,0,0.5);
}

.box_swipe>ol>li{
	display:inline-block;
	margin:5px;
	width:10px;
	height:10px;
	background-color:#757575;
	border-radius: 10px;
}
.box_swipe>ol>li.on{
	background-color:#ffffff;
}

.box_swipe ul:not([style*="translate3d"]){
	display: none;
}

#iframe_screen{
	position: absolute;
	z-index: 99999;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: rgba(255,255,255,1);
}

footer .copyright{
	color:#000000;
	line-height:25px;
	display: block;
	text-align:center;
	padding:5px;
	overflow: hidden;
}
/***************************************************/
.loading_icon {
	position: absolute;
	left:50%;
	top:0;
	margin-left:-12px;
	z-index:10;
	width: 24px;
	height: 24px;
	border: 2px solid #237FE5;
	border-radius: 24px;
	-webkit-animation: gif 1s infinite linear;
	clip: rect(0 auto 12px 0);
}

@-webkit-keyframes gif{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}

/**********loading dialog************/
.loading{
	position: fixed;
	z-index:1000;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.loading .widget_wrap{
	height:100%;
}
.loading .loading_mask{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
}
.loading .loading_wrap{
	display: inline-block;
	width:80px;
	height:80px;
	border-radius: 5px;
	background:red;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-40px;
	margin-left:-40px;
	background:rgba(0,0,0,0.0);
}
.loading .loading_icon{
	left:50%;
	top:50%;
	margin:-12px;
}
/*********************************/
.copyright1{}
.copyright1 .widget_wrap{
	/*height:55px;*/
	padding:19px 0 11px 0;
	overflow: hidden;
}
.copyright1 ul{
	display: table;
	height:25px;
	text-align: center;
}
.copyright1 .tbox>*{
	vertical-align: middle;
	height:25px;
}

.copyright1 .img_wrap{
	display: inline-block;
	max-height: 25px;
	padding-left:2px;
	border:0;
	border-radius:0;
	width: 90px;
}
.copyright1 .box{ padding:0 5px 2px 5px;}
.copyright1 .tbox>*:nth-last-of-type(2){
	background: -webkit-gradient(linear, 0 0,0 100%, from(#d3d3d3), to(#d3d3d3)) no-repeat right center;
	-webkit-background-size:1px 21px;
	min-width:120px;
}
.copyright1 .tbox>*:first-of-type:empty{
	display:none;
}
.copyright1 img{
	max-width: 90px;
	height:26px;
	max-height: 26px;
}
.copyright1 a{
	line-height: 10px;
	display: block;
	font-size:10px;
	color:#adacac;
}
.copyright1 p:first-of-type a{
	font-size:10px;
	color:#676767;
	padding-bottom:5px;
}

.popup{ position:fixed; top:0; bottom:0; left:0; right:0;background: -webkit-gradient(radial, 50% 50%,30, 50% 50%, 230, from(rgba(255,255,255,0.4) ), to(transparent ) );
background-color: rgba(0,0,0,0.6); z-index:666; color:#fff; padding:100px  35px 0; display:none; }
.popup span{ display:block; width:100%; text-align:center; font-size:24px;}
.popup label{ display:block; width:100%; text-align:center; font-size:14px; line-height:24px; margin:45px 0 73px 0}
.popup .btn{ margin:0; width:100%; margin-bottom:25px; height:40px; line-height:40px; font-size:18px;}
.container.blur{ -webkit-filter:blur(2px) ; overflow:hidden;}
body.closescroll{ overflow:hidden}
/**************************/
.tools_widget{}
.tools_widget .tools_widget_wrap{
	position: fixed;
	bottom:65px;
	right:0;
	background:rgba(0,0,0,0.48);
	/*border-radius:100px;*/
	border-top-left-radius: 8px;
	border-bottom-left-radius:8px;
	font-size: 0;
	overflow:hidden;
	z-index: 500;
}
.tools_widget .tools_widget_wrap a{
	display: inline-block;
	width:40px;
	height:40px;
	/*line-height:40px;*/
	background: url(../imgs/kf-icon.png) no-repeat center -40px;
	-webkit-background-size: 40px auto;
	font-size:10px;
	color:#ffffff;
	text-align:center;
	position:relative;
}
.tools_widget .tools_widget_wrap .border{
	border-top:1px solid #a8a8a8;
}
.tools_widget .tools_widget_wrap a:active{
	background-color:rgba(0,0,0,0);
}
.tools_widget .tools_widget_wrap a.tolls_widget_message{
	background-position:center 0px;
}
.tools_widget .tools_widget_wrap a.tolls_widget_message[data-count]:after{
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #f43530;
	border-radius: 10px;
	position: absolute;
	right: 12px;
	top: 7px;
}
.tools_widget .tools_widget_wrap a.hidden{
	display:none;
}



/**********otip*********/
div[data-role="widget"].otip{

}
div[data-role="widget"].otip .widget_mask{
	background:none;
}
div[data-role="widget"].otip .widget_wrap{
	min-height: inherit;
	text-align: center;
	background:none;
	margin-top: 0;
	top: 40%;
}
div[data-role="widget"].otip .widget_body{
	padding: 7px 12px;
	color: #ffffff;
	white-space: pre-line;
	background: rgba(0,0,0,0.6);
	display: inline-block;
	min-width: 100px;
	font-size: 14px;
	min-height: inherit;
	border-radius:3px;
}

div[data-role="widget"].otip2{

}
div[data-role="widget"].otip2 .widget_mask{
	background:none;
}
div[data-role="widget"].otip2 .widget_wrap{
	min-height: inherit;
	text-align: center;
	background:none;
	margin-top: 0;
	top: 70px;
}
div[data-role="widget"].otip2 .widget_body{
	padding: 7px 10px;
	color: #ffffff;
	white-space: pre-line;
	background: #686868;
	display: inline-block;
	min-width: 100px;
	font-size: 14px;
	min-height: inherit;
}
/**************/
.loading_bottom ul{
	padding:15px 0;
	width:135px;
	margin:auto;
	color:#848484;
	font-size:12px;
	line-height:20px;
}
.loading_bottom ul:nth-of-type(2), .loading_bottom.nomore ul{
	display:none;
}
.loading_bottom.nomore ul:nth-of-type(2){
	display:inherit;
}
.loading_bottom.nomore ul:nth-of-type(2) li:last-of-type{ display:block;}
.loading_wrap{
	display: inline-block;
	width:20px;
	height:20px;
	position:relative;
}

.loading{
	position: absolute;
	left:0;
	top:0;
	margin:-2px -3px;
	z-index: 10;
	width: 24px;
	height: 24px;
	/* border: 2px solid #237FE5; */
	border-radius: 24px;
	-webkit-animation: widget_gif 1s infinite linear;
	/* clip: rect(0 auto 12px 0); */
	background: url(../imgs/loading.png) no-repeat center center;
	-webkit-background-size: 100%;
}

@-webkit-keyframes widget_gif{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}

/**********************************/
.dialog_guid{
	color:#ffffff;
	line-height:18px;
	font-size:15px;
}
.dialog_guid .widget_wrap{
	position:static;
	width: 0;
	height: 0;
}

.dialog_guid ul{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,0.6);
	z-index: 50;
}
.dialog_guid ul li{
	height:50px;
	vertical-align:middle;
}
.dialog_guid p{
	padding: 2px 0;
}
.dialog_guid a{
	display: inline-block;
	width: 75px;
	height: 30px;
	line-height: 30px;
	margin:0 0 0 10px;
	color:#ffffff;
	font-size:12px;
	text-align:center;
	/*background:-webkit-gradient(linear, 0 0, 0 100%, from(#2fc1ab), to(#0bb59b), color-stop(50%, #2fc1ab), color-stop(50%, #0bb59b) );*/
	background:#06bd04;
	border-radius:3px;
	position:relative;
}
.dialog_guid a.close{
	margin:0;
	width:25px;
	background: url(../imgs/w_7.png) no-repeat center -513px;
	-webkit-background-size: 50px auto;
}
.dialog_guid .img_wrap{
	display: block;
	width:30px;
	height:30px;
	border-radius:100px;
	margin:0 10px;
}
.dialog_guid .img_wrap img{
	display:block;
	width:100%;
	height:100%;
	border-radius:100px;
}
.dialog_guid .img_wrap img[src=""]{
	background:#ffffff;
}

.dialog_guid_follow_authentication ul{
	height:65px;
}
.dialog_guid_follow_authentication ul li{
	height:65px;
}
.dialog_guid_follow_authentication .img_wrap{
	width:42px;
	height:42px;
}
/*.dialog_guid_follow_authentication a{
	width:60px;
	height:25px;
	font-size:11px;
	margin:0 19px;
}
.dialog_guid_follow_authentication a::after{
	content: "";
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: -18px;
	background:url(../imgs/w_44.png) no-repeat center 0;
	background-size:60px auto;
}*/

.dialog_guid_share{

}
.dialog_guid_share ul{
	height:60px;
	padding: 0 50px 0 10px;
	background-image:url(../imgs/w_44.png);
	background-repeat: no-repeat;
	background-position: right -60px;
	background-size:60px auto;
}
.dialog_guid_share ul li{
	height:60px;
}

.border_b{	border: 1px solid #ebebeb;	border-width:  0 0 1px 0;-webkit-border-image: url(../imgs/border.png) 2 stretch;}
.border_t{	border: 1px solid #ebebeb;	border-width: 1px 0 0 0;-webkit-border-image: url(../imgs/border.png) 2 stretch;}
.border_tb{	border: 1px solid #ebebeb;	border-width: 1px 0 1px 0;-webkit-border-image: url(../imgs/border.png) 2 stretch;}
.border_goods{border: 1px solid #ebebeb;border-width: 1px 0 1px 0;-webkit-border-image: url(../imgs/goods_border.png) 2 stretch;}

#Attention{width:100%; max-width:640px; display:block; margin:0 auto}
#Attention div:first-child{  background:rgba(0,0,0,0.5); z-index:2999; position:fixed; width:100%; height:100%; top:0; left:0; }
#Attentioncon{width:100%; height:362px; background:rgba(255,255,255,1); z-index:3000; position:fixed; color:#000;  text-align:center;  max-width:640px; display:block; bottom:-70%; transition:bottom 0.3s; -webkit-transition:bottom 0.3s;}
#Attention h2{font-weight:normal; font-size:14px; color:#b4b4b4;}
#Attention h3{font-weight:normal; font-size:14px; line-height:2em; color:#b4b4b4;}
#Attention p{font-size:18px;line-height:2em;  padding-top:8%;}
#Attention img{width:62%; display:block; margin:0 auto}
#Attention #Attention_close{width:60px; height:50px; bottom:10px; position:absolute;  left:50%; margin-left:-30px;}
#Attention #Attention_close img{ width:38px; height:38px;  background-image:url(../imgs/w_close.png); background-repeat:no-repeat; background-size:38px 38px;}
/* 页loading */
.page-load-content{position:fixed;top:0;left:0;bottom:0;right:0;z-index:9999;width:100%;height:100%}
.page-loading{display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;width:100%;min-width:320px;max-width:640px;height:100%;margin:0 auto;background:#fff}
.page-loading-img{display:block;width:60px;padding:0 0 20px}
/* End 页loading */
@media (max-device-height:481px) and (max-width:361px){  #Attentioncon{ height:340px; } #Attention p{ padding-top:5%;} /* 鍏煎iphone4/4s */}
@media screen and (min-width:375px){ #Attentioncon{ height:432px; }  #Attention p{ padding-top:11%;}}
@media screen and (min-width:414px){  #Attentioncon{ height:492px; } #Attention p{ padding-top:13%;}}
@media screen and (min-width:640px){  #Attentioncon{ height:540px; } #Attention p{ padding-top:2%;}}
